<!doctype html>
<html lang="en" ng-app="ContaAzulApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="resources/css/vendors/font-awesome-4.5.0/css/font-awesome.css">
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
		<script type="application/javascript" src="resources/js/vendors/jquery-1.10.2.min.js"></script>
		<script type="application/javascript" src="resources/js/vendors/angular.min.js"></script>
		<script type="application/javascript" src="resources/js/vendors/angular-locale-pt-br.js"></script>
		<script type="application/javascript" src="resources/contaazul.js"></script>
		<script type="application/javascript" src="resources/js/vendors/bootstrap.min.js"></script>
		<link rel="stylesheet" href="resources/css/vendors/bootstrap.min.css">
		<link rel="stylesheet" href="resources/css/contaazul.css">

	</head>
	<body ng-controller="vehiclesController" class="container">
		
		<div class="page-header">
			<img src="resources/img/logo.png" />
		</div>
		
		<div class="body">
			<div class="body-header">
				<div class="row">
					<div class="col-md-9">
						<button type="button" class="btn btn-primary btn-lg custom new-custom" data-toggle="modal" data-target="#vehicleModal" ng-click="newVehicle()">
							Novo carro
						</button>
						
						<button type="button" class="btn btn-primary btn-lg custom" ng-click="deleteVehicles()" ng-disabled="selecteds.length == 0">
							Excluir carro{{selecteds.length > 1 ? 's (' + selecteds.length + ')' : ''}}
						</button>
						
						<button type="button" class="btn btn-primary btn-lg custom" ng-click="editVehicle()" ng-disabled="selecteds.length == 0">
							Editar carro
						</button>
					</div>
					<div class="col-md-3">
					
						<!-- search input -->
						
						<div class="input-group">
							<input type="text" id="inputSearch" class="form-control custom-search" placeholder="Pesquisar">
							<span class="input-group-addon custom-search" ng-click="filterVehicle()">
								<i class="fa fa-search" aria-hidden="true"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			
			<!-- list of cars -->
			
			<table class="table custom">
				<thead>
					<tr style="border-radius:5px !important">
						<th class="custom">
							<img ng-if="!selectedAll" src="resources/img/unchecked.png"/>
							<img ng-if="selectedAll" src="resources/img/checked.png"/>
							<input type="checkbox" ng-click="checkAll($event)"/>
						</th>
						<th class="custom">Placa</th>
						<th class="custom">Modelo</th>
						<th class="custom">Marca</th>
						<th class="custom">Foto</th>
						<th class="custom">Combustível</th>
						<th class="custom">Valor</th>
					</tr>
				</thead>
				<tbody id="vehicles">
					<tr ng-repeat="vehicle in vehicles" class="{{vehicle.selected?'selected':''}} custom">
						<td>
							<img ng-if="!vehicle.selected" src="resources/img/unchecked.png"/>
							<img ng-if="vehicle.selected" src="resources/img/checked.png"/>
							<input type="checkbox" ng-checked="vehicle.selected" ng-model="vehicle.selected" ng-click="setSelected(vehicle,$event)"/>
						</td>
						<td>{{vehicle.placa}}</td>
						<td>{{vehicle.modelo}}</td>
						<td>{{vehicle.marca}}</td>
						<td>
							<a href="#" ng-click="toogleModalImage(vehicle.imagem)" ng-if="vehicle.imagem">Imagem</a>
							<span ng-if="!vehicle.imagem">Sem foto</span>
						</td>
						<td>{{vehicle.combustivel}}</td>
						<td>{{vehicle.valor | currency:''}}</td>
						
					</tr>
				</tbody>
			</table>
			
			<!-- Pagination -->
			<div class="text-center">
				<nav aria-label="Page navigation" ng-if="totalPages > 1" style="float:center">
					<ul class="pagination custom-pagination">
						<li>
							<a href="#" ng-click="setPage(currentPage - 1)">
								<i class="fa fa-chevron-left" aria-hidden="true"></i>
							</a>
						</li>
						<li class="{{currentPage==$index?'current-page':''}}" ng-repeat="n in [].constructor(totalPages) track by $index">
							<a class="{{currentPage==$index?'current-page':''}}" ng-click="setPage($index)">{{$index+1}}</a>
						</li>					
						<li>
							<a href="#" ng-click="setPage(currentPage + 1)">
								<i class="fa fa-chevron-right" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			
			<!-- Modal to insert new vehicle -->
			
			<div class="modal fade" tabindex="-1" role="dialog" id="vehicleModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Novo veículo</h4>
						</div>
						<div class="modal-body">
							<p class="bg-danger error-message" ng-show="formError">(*) campos obrigatórios</p>
							<form id="formVehicle">
								<input type="hidden" id="inputId" name="id"/>
								<input type="hidden" id="inputSelected" name="selected"/>
								
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="inputPlate">Placa *</label>
											<input type="text" class="form-control" id="inputPlate" name="placa" placeholder="Ex: AAA-0000" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="inputModel">Modelo *</label>
											<input type="text" class="form-control" id="inputModel" name="modelo" placeholder="Ex: Palio" required>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="inputBrand">Marca *</label>
											<input type="text" class="form-control" id="inputBrand" name="marca" placeholder="Ex: Fiat" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Combustível</label>
											<select class="form-control" name="combustivel">
												<option>Flex</option>
												<option>Gasolina</option>
												<option>Alcool</option>
												<option>Diesel</option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="inputPicture">Foto (URL)</label>
											<input type="text" class="form-control" id="inputPicture" name="imagem" placeholder="http://www...">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="inputPrice">Valor (sem pontos ou vírgula) *</label>
											<div class="input-group">
												<div class="input-group-addon">R$</div>
												<input type="number" class="form-control" id="inputPrice" name="valor" placeholder="Ex: 1000" required>
												<div class="input-group-addon">,00</div>
											</div>
										</div>
									</div>
								</div>
								
							</form>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default custom" data-dismiss="modal">Cancelar</button>
							<button type="button" class="btn btn-primary custom" ng-click="saveVehicle()">Salvar</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- modal to edit vehicle -->
			
			<div class="modal fade" tabindex="-1" role="dialog" id="selectedVehicles">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Escolha um para editar</h4>
						</div>
						<div class="modal-body">
							<p ng-repeat="vehicle in selecteds">
								<a href="#" ng-click="editVehicle(vehicle)">{{vehicle.modelo}} ({{vehicle.placa}})</a>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- modal to delete vehicle -->
			
			<div class="modal fade" tabindex="-1" role="dialog" id="deleteConfirm">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Excluir veículos</h4>
						</div>
						<div class="modal-body">
							Você está deletando {{selecteds.length}} veículo{{selecteds.length > 1 ? 's' : ''}}, é isso mesmo?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default custom" data-dismiss="modal">Não, cancelar</button>
							<button type="button" class="btn btn-primary custom" ng-click="deleteVehicles()">Sim, deletar</button>
						</div>
					</div>
				</div>
			</div>	

			<!-- modal to show image -->			
			<div class="modal-image-bg" style="display:none"></div>
			<img id="carImage" ng-show="pictureVisible"/>
			<i class="fa fa-times" aria-hidden="true" ng-click="toogleModalImage()" ng-if="pictureVisible"></i>
			
		</div>
	</body>
	
</html>
