body, label, li {
	font-family: 'Noto Sans', sans-serif;
	font-size:10pt;
	color:#666666;
}

body {
	background-color:#F1F4F9;			
	padding-top:0px !important;
}

button.custom {
	font-size:9.5pt;
	border:0px;
	border-radius:3px;
	padding:12px;
	padding-left:25px;
	padding-right:25px;
	margin-bottom:5px;
}

button.new-custom {
	background-color:#4ABA58;
	color:white;
}

button.new-custom:hover, button.new-custom:focus {
	background-color:#2A8436;
}

tr.selected {
	background-color:#D8E9FB;
	border:1px solid #8BC8F6;
}

tr.selected td {			
	border-bottom:1px solid #8BC8F6 !important;
	border-top:1px solid #8BC8F6 !important;
}

tr {
	background-color:white;
	border:1px solid #C9D3DD;
}
th, td {
	border:0px !important;
}

th.custom {
	background-color:#F8FAFC;
	font-size:9pt;
}

tbody tr td {
	padding-top:14px !important;
	padding-bottom:14px !important;
}

p.error-message {
	padding:5px;
	font-size:11px;

}

div.page-header {
	background-color:#2687E9;
	margin:0px;
	padding:15px;
	padding-left:45px;
	position:absolute;
	left:0px;
	right:0px;
}

div.body-header {
	padding-top:15px;
	padding-bottom:15px;
}

div.body {
	padding-left:25px;
	padding-right:25px;
	margin-top:55px;
}

input.custom-search {
	height:40px;			
}

span.custom-search {
	background-color:#F1F4F9;
	border:1px solid #C9D3DD;
}

a, a:hover {
	color:#318DEB;
}

input[type=checkbox] {
	zoom: 2;
	position:absolute;
	margin-top:0px;
	margin-left:-10px;
	opacity:0;
	cursor:pointer;
}

ul.custom-pagination li a {
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	color:#666666;
	font-size:10.8pt;			
}
li a.current-page, li a.current-page:hover {
	background-color:#D8E9FB !important;
	border: 1px solid #8BC8F6 !important;			
}

li a:hover {
	background-color:#FFFAEB !important;
}

li a {
	cursor:default;
}

li.current-page + li a {
	border-left: 1px solid #8BC8F6 !important;
}
div.modal-image-bg {
	background-color:black;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:50;
	opacity:0.6;
}

#carImage {
	position: fixed;
	left: 0;
	right: 0;
	top: 15%;
	margin: 0 auto;
	z-index:60;
	border:5px solid white;
	box-shadow: 3px 3px 5px black;
}

i.fa-times {
	position: fixed;
	color:white;
	right:25px;
	top:25px;
	z-index:70;
	font-size:20pt;
	opacity:0.8;
	cursor:pointer;
}

i.fa-times:hover {
	opacity:1;
}

input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}